# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
~$chitecture project.docx
~WRL0005.tmp
Arch/.classpath
Arch/.project
Arch/.settings/org.eclipse.jdt.core.prefs
Arch/bin/Config.class
Arch/bin/FileHandler.class
Arch/bin/FpRegStatus.class
Arch/bin/FpReserveRow.class
Arch/bin/InstructionContainer.class
Arch/bin/IntegerReserveRow.class
Arch/bin/IntRegStatus.class
Arch/bin/RobQueue.class
Arch/bin/RobRow.class
Arch/bin/sim.class
Arch/bin/Trace.class
Arch/bin/TraceRecord.class
Arch/bin/Utils.class
